body{
  margin : 0 !important;
  padding: 0 !important;
}


h1 {
  color: #000;
  padding: 35px;
    margin: 25px;
}


.icon {
  font-size: 24px;
  color: white;
  float: center;
  
}

.im {
  text-align: center;
}