

body {
	background-color: #4853b1 !important;
}

.form-col {
  background-color: white;
  width: 400px;
  padding: 25px;
  margin: 25px;
  text-align: center;
  height: 500px;

}

h1 {
	color: white;
	padding: 25px;
    margin: 25px;
}
